[submodule "libft"]
	path = libft
	url = https://github.com/demm05/libft.git
[submodule "push_swap"]
	path = push_swap
	url = https://github.com/demm05/push_swap.git
[submodule "minitalk"]
	path = minitalk
	url = https://github.com/demm05/minitalk-42.git
[submodule "minishell-42"]
	path = minishell-42
	url = https://github.com/demm05/minishell-42.git
[submodule "philo-42"]
	path = philo-42
	url = https://github.com/demm05/philo-42.git
[submodule "fractol-42"]
	path = fractol-42
	url = https://github.com/demm05/fractol-42.git
[submodule "cub3D"]
	path = cub3D
	url = https://github.com/demm05/cub3d-42.git
[submodule "CPP"]
	path = CPP
	url = https://github.com/demm05/cpp-42.git
[submodule "Inception"]
	path = Inception
	url = https://github.com/demm05/Inception-42.git
