[submodule "libft"]
	path = libft
	url = https://github.com/demm05/libft.git
[submodule "push_swap"]
	path = push_swap
	url = https://github.com/demm05/push_swap.git
[submodule "minitalk"]
	path = minitalk
	url = https://github.com/demm05/minitalk-42.git
